<ion-footer class="ion-no-border" >
  <ion-toolbar color="bean-dark ion-text-center ion-padding-horizontal">
    <h4 class="footer-title text-white">What happened today in history?</h4>
    <h6 class="ion-no-margin text-white"><strong>6 August- Hiroshima Day </strong></h6>
    <p  class="ion-no-margin text-white footer-p">Hiroshima Day is observed on 6 August every year.
      This is the day when the atomic bomb was dropped
      on the Japanese city of Hiroshima.</p>
  </ion-toolbar>
</ion-footer>
