<app-header></app-header>

<ion-content [fullscreen]="true">
<div  *ngIf="loading" style="padding-top: 15vh;">
  <ion-grid  >
    <ion-row class=" ion-padding-top ion-justify-content-center">
      <ion-col >
        <div class="ion-text-center">
        <ion-spinner name="lines"></ion-spinner>
      </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>
<div *ngIf="!loading">
  <ion-grid class="ion-padding">
    <ion-row class="ion-padding">
      <ion-col>
        
        <ion-list>
          <ion-item>
            <ion-label class="ion-text-wrap">
              <ion-text color="bean-dark">
                <h3>Name</h3>
              </ion-text>
              <p>{{ user?.name }}</p>
           
            </ion-label>
          </ion-item>


          <ion-item>
            <ion-label class="ion-text-wrap">
              <ion-text color="bean-dark">
                <h3>Email ID</h3>
              </ion-text>
              <p>{{ user?.email }}</p>
           
            </ion-label>
          </ion-item>

          <ion-item>
            <ion-label class="ion-text-wrap">
              <ion-text color="bean-dark">
                <h3>DOB</h3>
              </ion-text>
              <p>{{ user?.dob }}</p>
           
            </ion-label>
          </ion-item>

          <ion-item>
            <ion-label class="ion-text-wrap">
              <ion-text color="bean-dark">
                <h3>Country</h3>
              </ion-text>
              <p>{{ user?.country }}</p>
           
            </ion-label>
          </ion-item>

         



        </ion-list>
      </ion-col>
      <!-- <ion-col>
        <ion-button size="full" color="bean-dark">
          Reset Password
        </ion-button>

      </ion-col>
      <ion-col>
        <ion-button size="full" color="primary" [routerLink]="'/account-edit'">
         Edit
        </ion-button>

      </ion-col> -->
    </ion-row>

  </ion-grid>
</div>
</ion-content>
